/*****************************************
    Overarching Defaults
******************************************/
body {
    background-color: #3a3a3a;
}
h1{
    color:white;
    padding-left: 2%;
}
a{
    color: white;
}
img {
    width: 30em;
    height: 20em;
   /* box-shadow: 10px 10px 5px #272727;*/
}
div {
    color: white;
}
p {
    padding-top: 1em;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #242424;
}
.shadow {
    box-shadow: 10px 10px 5px #272727;
}
/*****************************************
    Nav Logo resize and reposition
******************************************/
.logo img {
    position: relative;
    top: -10px;
    height: 2em;
    width: 3em;
}
/*****************************************
    Overlay
******************************************/
.overlay {
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 0;
    background-color: #696969;
    overflow: hidden;
    width: 30.1em;
    height: 0;
    transition: .5s ease;
    z-index: 5;
}
.ConOverlay:hover .overlay {
    height: 15%;
    opacity: 0.90;
}
.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.repo{
    position:relative;
    top: 0.70em;
    left: .85em;
    width: 1.5em;
    height: auto;
}
.info {
    position: relative;
    top: 0.45em;
    left: .55em;
    width: 2em;
    height: auto;
}
.small-circle-left {
    position: relative;
    top: 0.35em;
    left: 5em;
    width: 3em;
    height: 3em;
    background: #FFF;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    float: left;
}
.small-circle-right {
    position: relative;
    top: 0.35em;
    right: 5em;
    width: 3em;
    height: 3em;
    background: #FFF;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    float: right;
}