<h1>Hello, I'm Lukas Armstrong!</h1>
<div class="col-md-7">
    <p>I am currently a full-time Computer Engineering and Computer Science (CECS) 
    student at the University of Louisville with a passion for artificial intelligence 
    and robotics.</p>

    <p>I spend most of my free time working with Red Bird Robotics, attending all the 
    hackathons I can, and fixing all the micro-problems I run into.</p>

    <p>Feel free to contact me at:</p><a href="mailto:Lucas.J.Armstrong@gmail.com"> Lucas.J.Armstrong@Gmail.com </a>
</div>