<h1><u>My Projects</u></h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-xs-6 col-md-3 ConOverlay">
            <p>Ned-Nu-Trailty:</p>
            <img src="~/Img/NedNu.TralityWebsite.png" />
            <div class="overlay">
                <div class="small-circle-left">
                    <a href="https://github.com/aaronfox/Net-Neutrality-Bot" title="https://github.com/aaronfox/Net-Neutrality-Bot"><img class="repo" src="~/Img/Octicons-repo.svg.png"/> </a>
                </div>
                <div class="small-circle-right" data-toggle="modal" data-target="#myModal">
                    <img class="info" src="~/Img/information-circle.png"/>
                </div>
                <!--
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-6 col-md-3 ConOverlay">
            <p>To-Do:</p>
            <img class="img" src="~/Img/ToDo.png" />
            <div class="overlay">
                <div class="small-circle-left">
                    <a href="https://github.com/LukasArmstrong/ToDo" title="https://github.com/LukasArmstrong/ToDo"><img class="repo" src="~/Img/Octicons-repo.svg.png" /></a>
                </div>
                <div class="small-circle-right">
                    <img class="info" src="~/Img/information-circle.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-xs-6 col-md-3 ConOverlay">
            <p>DeCentral:</p>
            <img class="img" src="~/Img/DeCentral.png" />
            <div class="overlay">
                <div class="small-circle-left">
                    <a href="https://github.com/aaronfox/Decentral" title="https://github.com/aaronfox/Decentral"><img class="repo" src="~/Img/Octicons-repo.svg.png" /></a>
                </div>
                <div class="small-circle-right">
                    <img class="info" src="~/Img/information-circle.png" />
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-6 col-md-3 ConOverlay">
            <p>Hello-Internet-Hub:</p>
            <img class="img" src="~/Img/NedNu.TralityTwitter.png" />
            <div class="overlay">
                <div class="small-circle-left">
                    <a href="https://github.com/aaronfox/Hello-Internet" title="https://github.com/aaronfox/Hello-Internet"><img class="repo" src="~/Img/Octicons-repo.svg.png" /></a>
                </div>
                <div class="small-circle-right">
                    <img class="info" src="~/Img/information-circle.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-xs-6 col-md-3 ConOverlay">
            <p>Sugar Booger:</p>
            <img class="img" src="~/Img/SugarBooger.png" />
            <div class="overlay">
                <div class="small-circle-left">
                    <a href="https://github.com/LukasArmstrong/Project-Sugar-Booger" title="https://github.com/LukasArmstrong/Project-Sugar-Booger"><img class="repo" src="~/Img/Octicons-repo.svg.png" /></a>
                </div>
                <div class="small-circle-right">
                    <img class="info" src="~/Img/information-circle.png" />
                </div>
            </div>
        </div>
    </div>
</div>