<h1><u>My Projects</u></h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-xs-6 col-md-3 ConOverlay">
            <p>Ned-Nu-Trailty:</p>
            <img src="~/Img/NedNu.TralityWebsite.png" />
            <div class="overlay">
                <div class="text">
                    <img class="repo" src="~/Img/Octicons-repo.svg.png"/>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-6 col-md-3 ConOverlay">
            <p>To-Do:</p>
            <img src="~/Img/ToDo.png" />
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-xs-6 col-md-3 ConOverlay">
            <p>DeCentral:</p>
            <img src="~/Img/DeCentral.png" />
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-6 col-md-3 ConOverlay">
            <p>Hello-Internet-Hub:</p>
            <img src="~/Img/NedNu.TralityTwitter.png" />
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-xs-6 col-md-3 ConOverlay">
            <p>Sugar Booger:</p>
            <img src="~/Img/SugarBooger.png" />
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
</div>